/*  common.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

html {
	background-color: white;
	color: black;
	font-family: Arial, Lucida Grande, sans-serif;
	font-size: 1em;
}

a.www:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.http:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.https:before {content: url(../img/moin-www.png); margin: 0 0.2em;}
a.file:before {content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.ftp:before {content: url(../img/moin-ftp.png); margin: 0 0.2em;}
a.nntp:before {content: url(../img/moin-news.png); margin: 0 0.2em;}
a.news:before {content: url(../img/moin-news.png); margin: 0 0.2em;}
a.telnet:before {content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.irc:before {content: url(../img/moin-telnet.png); margin: 0 0.2em;}
a.mailto:before {content: url(../img/moin-email.png); margin: 0 0.2em;}
a.attachment:before {content: url(../img/moin-attach.png); margin: 0 0.2em;}
a.badinterwiki:before {content: url(../img/moin-inter.png); margin: 0 0.2em;}
a.interwiki:before {content: url(../img/moin-inter.png); margin: 0 0.2em;}

/* IE sucks */
* html a.www { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
* html a.http { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
* html a.https { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
* html a.file { padding-left: 14px; background: url(../img/moin-ftp.png) left center no-repeat; }
* html a.ftp { padding-left: 14px; background: url(../img/moin-ftp.png) left center no-repeat; }
* html a.nntp { padding-left: 14px; background: url(../img/moin-news.png) left center no-repeat; }
* html a.news { padding-left: 14px; background: url(../img/moin-news.png) left center no-repeat; }
* html a.telnet { padding-left: 14px; background: url(../img/moin-telnet.png) left center no-repeat; }
* html a.irc { padding-left: 14px; background: url(../img/moin-telnet.png) left center no-repeat; }
* html a.mailto { padding-left: 14px; background: url(../img/moin-email.png) left center no-repeat; }
* html a.attachment { padding-left: 14px; background: url(../img/moin-attach.png) left center no-repeat; }
* html a.badinterwiki { padding-left: 14px; background: url(../img/moin-inter.png) left center no-repeat; }
* html a.interwiki { padding-left: 14px; background: url(../img/moin-inter.png) left center no-repeat; }

/* Headings */

h1, h2, h3, h4, h5, h6
{
	border-bottom: 4px solid #EDD097;
}	

li p {
	margin: .25em 0;
}

li.gap {
	margin-top: 0.5em;
}

a, img, img.drawing {
	border: 0;
}

dt {
	font-weight: bold;
}

pre {
	padding: 5px;
	border: 1px solid #c0c0c0;
	font-family: courier, monospace;
	white-space: pre;
	/* begin css 3 or browser specific rules - do not remove!
	see: http://forums.techguy.org/archive/index.php/t-249849.html */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* end css 3 or browser specific rules */
}

pre.comment {
    background-color: #CCCCCC;
    color: red;
    padding: 0;
    margin: 0;
    border: 0;
}

pre.comment:before {
    content: url(../img/attention.png);
}

table {
	margin: 0.5em 0 0 0.5em;
	border-collapse: collapse;
}

td
{
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: 1px solid #c0c0c0;
}

td p {
	margin: 0;
	padding: 0;
}

#pagebottom {clear: both;}

/* standard rule ---- */
hr {
	height: 2px;
	background-color: #c0c0c0;
	border: none;
}

/* custom rules ----- to ---------- */
.hr1 {height: 3px;}
.hr2 {height: 4px;}
.hr3 {height: 5px;}
.hr4 {height: 6px;}
.hr5 {height: 7px;}
.hr6 {height: 8px;}

/* Replacement for deprecated html 3 <u> element and html 4 <strike> */
.u {text-decoration: underline;}
.strike {text-decoration: line-through;}

.footnotes ul {
	padding: 0 2em;
	margin: 0 0 1em;
	list-style: none;
}

.footnotes li {
}

.info {
    float: right;
    font-size: 0.7em;
    color: gray;
}

/* eye catchers */
.warning 
{
	color: red;
}

.error 
{
	color: red;
}

strong.highlight 
{
	background-color: #ffcc99;
	padding: 1pt;
}


/* Recent changes */

div.recentchanges table {
	border: 1px solid #e5e5e5; 
}

.recentchanges p {
	margin: 0.25em;
}

.recentchanges td {
	border: none;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	vertical-align: top;
}

.rcdaybreak {
	background-color: #EDD097;
}

.rcdaybreak td a {
	font-size: 0.88em;
}

.rcicon1, .rcicon2 {
	text-align: center;
}

.rcpagelink {
	width: 33%;
}

.rctime {
	font-size: 0.88em;
	white-space: nowrap;
}

.rceditor {
	white-space: nowrap;
	font-size: 0.88em;
}

.rccomment {
	width: 50%;
	color: gray;
	font-size: 0.88em;
}

.rcrss {
	float: right;
}

.recentchanges[dir="rtl"] .rcrss {
	float: left;
}

/* User Preferences */

.userpref table, .userpref td {
	border: none;
}

/* CSS for new code_area markup used by Colorizer and ParserBase */

div.codearea { /* the div makes the border */
	margin: 0.5em 0;
	padding: 0;
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	color: black;
}

div.codearea pre { /* the pre has no border and is inside the div */
	margin: 0;
	padding: 10pt;
	border: none;
}

a.codenumbers { /* format of the line numbering link */
	margin: 0 10pt;
	font-size: 0.85em;
	color: gray;
}

/* format of certain syntax spans */
div.codearea pre span.LineNumber {color: gray;}
div.codearea pre span.ID         {color: #000000;}
div.codearea pre span.Operator   {color: #0000C0;}
div.codearea pre span.Char       {color: #004080;}
div.codearea pre span.Comment    {color: #008000;}
div.codearea pre span.Number     {color: #0080C0;}
div.codearea pre span.String     {color: #004080;}
div.codearea pre span.SPChar     {color: #0000C0;}
div.codearea pre span.ResWord    {color: #A00000;}
div.codearea pre span.ConsWord   {color: #008080; font-weight: bold;}
div.codearea pre span.Error      {color: #FF8080; border: solid 1.5pt #FF0000;}
div.codearea pre span.ResWord2   {color: #0080ff; font-weight: bold;}
div.codearea pre span.Special    {color: #0000ff;}
div.codearea pre span.Preprc     {color: #803999;}


